.countdown {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
}

.CountdownDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid whitesmoke;
  }
}

.countdown-over {
  font-size: 40px;
  color: white;
}

.countdown_time {
  display: flex;
  color: white;

  div {
    padding: 20px;
    font-size: 32px;
  }

  p {
    margin: 0;
  }
}

.countdown-image {
  background-image: url("https://cdn.vox-cdn.com/thumbor/RIF2D6fpLOMKj-CKrUCQrnHWwJI=/92x0:1512x1065/1200x900/filters:focal(92x0:1512x1065)/cdn.vox-cdn.com/uploads/chorus_image/image/49842307/2016-02-29-hanjip-004.0.0.0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 2400px) {
  .countdown {
    display: flex;
  }
  .countdown div {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .countdown-image {
    display: none;
  }
  .CountdownDisplay {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
      url("https://cdn.vox-cdn.com/thumbor/RIF2D6fpLOMKj-CKrUCQrnHWwJI=/92x0:1512x1065/1200x900/filters:focal(92x0:1512x1065)/cdn.vox-cdn.com/uploads/chorus_image/image/49842307/2016-02-29-hanjip-004.0.0.0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h1 {
      font-size: 24px;
      margin-bottom: 0;
    }
  }
}
