.pnw_blog {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.destination {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  row-gap: 3rem;
}
