.NodeComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #777;
  height: 40px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    border-top: 1px solid #777;
    width: 45px;
    position: absolute;
    top: 0;
    transform: rotate(90deg) translateX(-25px);
  }

  &:hover {
    background: #444;
    color: white;
  }
}

.node {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 10px;
}
