.pnw_destination {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;

  > * {
    z-index: 1;
  }

  .pnw_destination_name {
    background: #aab08963;
    color: #4b5341;
    padding: 1rem;
    margin: 0;
    border-radius: 4px;
  }

  .pnw_destionation_description_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    row-gap: 1rem;
    margin: 2rem 0;

    li {
      p {
        color: #222;
        margin: 0;
        line-height: 24px;
      }
    }
  }

  .pnw_destination_link_list {
    background: whitesmoke;
    padding: 1rem;
    border-radius: 4px;
    margin: 1rem 0;
  }

  .pnw_destination_image_list {
    margin: 1rem 0;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr;
    row-gap: 1rem;

    .pnw_destination_image {
      width: 100%;

      img {
        width: 100%;
        border-radius: 4px;
      }
    }
  }
}
